NEXT_PUBLIC_SITE_URL=http://localhost:3000
MONGODB_URI=
MONGODB_DB=sam_creative_graphics
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
CONTACT_TO_EMAIL=samkimiri550307@gmail.com
CONTACT_FROM_EMAIL=hello@samcreativegraphics.co.ke
ADMIN_UPLOAD_PASSWORD=change-this-owner-password
